h1 {
    color: initial;
    background-color: blue;
    font-size: -webkit-xxx-large
}

a {
    font-size: larger
}

p {
    font-size: x-large
}

.lists {
    background-color: #DCDCDC
}


